/*
  Theme Name: BigTag Ecommerce Template
  Author: 
  Support: 
  Description: 
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. default css
2. header
3. hero
*/

/* 1. default css start */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    background-color: #e5e5e5;
    color: #828282;
    line-height: 1.7;
    overflow-x: hidden;
    position: relative;
}

.page-box {
    margin: 0 70px;
}
.page-box-085 {
    margin: 0 85px;
}








a,
button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: inline-block;
}

button {
    cursor: pointer
}
button.no-bg-bd {
    background: transparent;
    border: 0;
}

a:focus,
button:focus {
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #000;
    margin-top: 0px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    /*font-size: 22px;*/
    font-size: 24px;
}

h5 {
    font-size: 18px;
    line-height: 33px;
}

h6 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #252F3E;
}

.heading-3 {
    margin-bottom: 25px;
}

.heading-4-wrap {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #252F3E;
    margin-bottom: 10px;
}

.heading-4 {
    display: inline-block;
    background: #252F3E;
    color: #fff;
    padding: 2px 20px 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 33px;
    margin-bottom: 0;
}

.p-1-rem {
    padding: 1rem !important;
}
.p-2-rem {
    padding: 2rem;
}

p:last-child {
    margin-bottom: 0;
}



.text-light {
    color: #666989 !important;
}
.text-muted {
    color: #c4c4c4 !important;
}

.text-primary {
    color: #2D9CDB !important;
}
.text-dark {
    color: #252F3E !important;
}
.bg-dark {
    background-color: #252f3e !important;
}

.text-danger {
    color: #ED1E25 !important;
}
.btn-danger {
    background-color: #ED1E25 !important;
}




.btn-warning {
    border-color: #F08B0A;
    background-color: #F08B0A !important;
    color: #fff;
}

.btn-primary {
    background-color: #2D9CDB;
    border-color: #2D9CDB;
}

.row-less-padding {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.row-less-padding [class*="col-"] {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

.list-inline > li {
    display: inline-block;
}

img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

.owl-item img {
    width: auto !important;
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: -35px;
}
.slick-dots li {
    margin-left: 5px;
}
.slick-dots li button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #c4c4c4;
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: #EB5757;
}

.slick-vertical .slick-slide {
    border: 0;
}



/*background image*/
.bg-image-center {
    background-position: center center;
    background-size: cover;
    background-color: #ddd;
    background-repeat: no-repeat;
}
.bg-gray {
    background-color: #f4f4f4;
}
/*background image*/

.card {
    border-radius: 5px;
    border: 0;
}

.card-header {
    background-color: #fff;
}

.card-body.no-padding {
    padding: 0 0 !important;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

/* scrollUp start*/
#scrollUp {
    background: #EB5757;
    height: 35px;
    width: 35px;
    right: 50px;
    bottom: 77px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 34px;
}

#scrollUp:hover {
    background: #444;
}

#scrollUp i {
    margin-top: 11px;
}
/* scrollUp end*/

/* 1. default css end */

































/*header-area start-----------*/
.header-responsive {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.header-top-responsive {
    padding: 5px 0;
    background-color: #1B1C24;
    color: #fff;
}
.header-right-responsive a {
    color: #fff;
    margin-left: 15px;
}
.header-bottom-responsive-wrap {
    position: relative;
    position: relative;
    background-color: #252F3E;
    padding: 7px 15px;
}
.header-bottom-responsive-wrap .card-body {
     background-color: #252F3E;   
}
.header-top-responsive .users-control-wrap {
    margin-bottom: 0;
}




.header-top-responsive .hover-item {
    right: -65px;
    top: 55px;
    width: 280px;
}
.header-top-responsive .hover-item::before {
    right: 80px;
}
.header-top-responsive .hover-item .notification-list li {
    padding: 15px 10px 0 15px;
}
.header-top-responsive .hover-item .notification-list li a {
    color: #222;
    margin-left: 0;
}

.header-top-responsive .users-control {
    margin: 0 0 0 20px;
}
.header-top-responsive .users-control,
.header-responsive-search a{
    font-size: 18px;
}
.header-top-responsive .users-control-item.user-acc {
    margin-left: 0;
}
.header-top-responsive .users-control-item.user-acc .user-avatar {
    width: 28px;
}
.header-top-responsive .users-control-item.user-acc .hover-item {
    right: 0;
}
.header-top-responsive .users-control-item.user-acc .hover-item:before {
    right: 26px;
}
.header-top-responsive .users-control-item.user-acc .hover-item h6 {
    display: block !important;
}
.header-top-responsive .user-acc.has-hover-item .account-settings-list {
    padding: 5px 8px;
}




























.header-bottom-responsive-wrap button {
    color: #fff;
    font-weight: 700;
    display: block;
}
button.responsive-sidebar-btn-close {
  color: #fff;
  display: block;
  width: 100%;
  text-align: left;
  background: #DC3545;
  padding: 7px 25px;
}
.responsive-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 3px #000;
    z-index: 144444;
    min-height: 100vh;
    transform: translateX(-100%);
    transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.responsive-sidebar.show {
    transform: translateX(0);
}
.sidebar-accordion button {
    padding: 5px 0;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
}
.sidebar-accordion button::after {
    content: '+';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #1B1C24;
    transition: all 0.3s ease-out;
}
.single-category-group {
    padding: 8px 25px;
    border-bottom: 1px solid #eee;
}
.single-category-group ul {
    margin-bottom: 25px;
}
.single-category-group ul a {
    color: #1B1C24;
    padding: 5px 0;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    display: block;
}
.single-category-group ul li:last-child a {
    border-bottom: 0;
}
.responsive-sidebar .show-all-category {
    padding: 8px 25px;
    font-weight: 600;
}




.responsive-menu-list {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 15px 20px;
    background: #fff;
    width: 220px;
    z-index: 333333333333;
    transition: all 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
}
.responsive-menu-list.show {
    opacity: 1;
    visibility: visible;
}
.responsive-menu-list a {
    color: #1B1C24;
    padding: 7px 5px;
    font-weight: 600;
}


























.header-and-sidebar-wrap {
    position: relative;
}
.topbar {
    background-color: #fff;
    padding: 9px 85px;
}
.topbar p {
    margin-bottom: 0;
    color: #000;
}
.sidebar-and-topbar-wrap {
    height: 100%;
}









/*temporary*/
.fixed-sidebar {
    position: fixed;
    z-index: 22;
    width: 70px;
    top: 124px;
    min-height: 1000vh;
    left: 0;
}
.fixed-sidebar-left {
    position: absolute;
    height: 100%;
    background-color: #fff;
    transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0 0 34px 0 rgb(63 66 87 / 10%);
}
.fixed-sidebar-left.sidebar-small {
    width: 70px;
    transition-delay: .3s;
    text-align: center;
    padding-top: 35px;
}
.fixed-sidebar.open .fixed-sidebar-left {
    transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    text-align: center;
}
.fixed-sidebar.open .fixed-sidebar-left.sidebar-small {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.fixed-sidebar-left.sidebar-large {
    text-align-last: left;
    padding: 15px;
    width: 200px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.fixed-sidebar.open .fixed-sidebar-left.sidebar-large {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition-delay: .3s;
}
.fixed-sidebar-left a {
    color: #000;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 15px;
    display: block;
}
.fixed-sidebar-left.sidebar-large a i {
    width: 25px;
}


.fixed-sidebar.right {
    right: 0;
    left: auto;
    height: 100%;
}
.fixed-sidebar-right {
    position: absolute;
    border-left: 1px solid #e6ecf5;
    z-index: 20;
    right: 0;
    top: 0;
    bottom: 70px;
    background-color: #fff;
    transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0 0 34px 0 rgb(63 66 87 / 10%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.fixed-sidebar-right.sidebar-small {
    width: 70px;
    transition-delay: .3s;
    padding-top: 35px;
}
.fixed-sidebar.expand .fixed-sidebar-right.sidebar-small {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.fixed-sidebar-right.sidebar-large {
    width: 250px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.fixed-sidebar.expand .fixed-sidebar-right.sidebar-large {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition-delay: .6s;
}

.fixed-sidebar-right.sidebar-large header h6 {
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #bdbdbd;
}
.fixed-sidebar-right.sidebar-large .notification-list li {
    padding: 15px 20px;
}
.fixed-sidebar-right.sidebar-large .online-availability {
    border-color: #fff;
}
.fixed-sidebar-right.sidebar-large .notification-content,
.fixed-sidebar-right.sidebar-large .notification-action {
    margin-top: 0;
}
.find-friend-search-form input {
    width: 132px;
    margin-right: 5px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 5px 10px;
}
/*temporary*/
























.sidebar-right .user-avatar {
    min-width: 32px;
    height: auto;
    margin-bottom: 25px;
}

.sidebar-right .user-avatar img {
    width: auto;
}
.sidebar-right .user-avatar .online-availability {
    border-color: #fff;
    left: 16px;
}












.sidebar.sidebar-right {
    left: auto;
    right: 0;
}
.sidebar.sidebar-right a {
    position: relative;
}
.sidebar.sidebar-right a .activity-light {
    top: 10px;
    border-color: #fff;
}
/*header-top start*/
.header-top {
    background: #1B1C24;
    padding: 13px 0;
    font-size: 18px;
}
.header-top-middle {
    position: relative;
}

/*search-form start*/
.search-form {
    position: relative;
    min-width: 350px;
    background: #384250;
    border-radius: 5px;
    margin-right: 95px;
}
.search-category {
    position: absolute;
    border-radius: 5px;
    background:#2A3343;
    border: 0;
    width: 60px;
    text-align: center;
    height: 100%;
    line-height: 50px;
}
.search-category span.current {
    color: #fff;
    font-size: 18px;
}
.search-category.nice-select:after {
    border-color: #fff;
}
.search-category.nice-select .list {
    width: 180px;
    color: #828282;
}
.search-form input {
    width: 100%;
    display: block;
    background-color: transparent;
    border: 0;
    padding: 13px 15px;
    padding-left: 85px;
    color: #fff;
}
.search-form input::placeholder {
    color: #636C7A;
    font-size: 18px;
}
.search-form button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    line-height: 43px;
    border: 0;
    background-color: transparent;
}
.search-form button img {
    margin-top: -3px;
}
/*search-form end*/

/*languages-wrap start*/
.languages-wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.languages button {
    background-color: transparent;
    border: 0;
    padding: 0;
}
.languages button img {
    width: 37px;
    height: 27px;
    border-radius: 5px;
}
.languages button i {
    margin-left: 5px;
    color: #fff;
}
.language-list {
    padding: 0 0;
    background-color: transparent;
}
.language-list li {
    margin: 5px 0;
}
.language-list img {
    width: 45px;
    height: auto;
    position: relative;
    z-index: 999;
}
/*languages-wrap end*/
.users-control {
    position: relative;
    margin: 0 9px;
    font-size: 23px;
}
.label-avatar {
    display: inline-block;
    position: absolute;
    right: -8px;
    top: -5px;
    width: 20px;
    height: 20px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background: #F08B0A;
    border: 2px solid #1B1C24;
    font-size: 9px;
}
/*hover-item start*/
.has-hover-item {
    position: relative;
}
.hover-item {
    border-radius: 0 !important;
    width: 385px;
    top: 50px;
    right: -167px;
    padding: 0 0 0 0;
    position: absolute;
    box-shadow: -6px 7px 9px rgba(165, 165, 165, 0.25);
    background-color: #fff;
    transition: all 0.3s ease-out;
    text-align: left;
    z-index: 999999999;
    border: 0;
    opacity: 0;
    visibility: hidden;
}
.has-hover-item:hover .hover-item {
    opacity: 1;
    visibility: visible;
}
.hover-item::before {
    position: absolute;
    display: inline-block;
    content: '';
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #fff;
    margin-right: -12px;
    right: 50%;
}
.hover-item .card-header {
    padding: 18px 25px;
}
.hover-item .card-header h6 {
    font-size: 10px;
    color: #666989;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
}
.hover-item .card-header > h6 {
    color: #bdbdbd;
}
.notification-list li {
    display: block;
    padding: 20px 25px;
    border-bottom: 1px solid #E0E0E0;
    transition: all 0.3s ease-out;
}
.notification-list li:hover {
    background: #F8F8F8;
}
.notification-list li:last-child {
    border-bottom: 0;
}
.user-avatar {
    min-width: 45px;
    height: 45px;
    display: block;
    border-radius: 50%;
    position: relative;
}
.user-avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}
.online-availability {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 3px;
    border: 2px solid transparent;
    z-index: 333;
}
.online-availability.online {
    background: #00CB39;
}
.online-availability.away {
    background: #F2994A;
}
.online-availability.offline {
    background: #BDBDBD;
}
.hover-item .online-availability {
    border-color: #fff;
}
.notification-contet {
    margin-top: -10px;
    margin-left: 18px;
}
.notification-person {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-left: 0;
    margin-right: 0;
}
.notification-message {
    font-size: 12px;
    margin-bottom: 0;
}
.notification-date {
    font-size: 12px;
    color: #bdbdbd;
}
.notification-action  {
    text-align: center;
    margin-left: 15px;
    margin-top: -15px;
}
.notification-action a {
    margin: 0 0 5px 0;
    font-size: 10px;
    color: #bdbdbd;
}
.hover-box-big-btn {
    border-radius: 0 !important;
    font-size: 13px;
    padding: 22px 55px;
    margin: 0 0 !important;
    font-weight: 700;
}


/*friend-action*/
.friend-action a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #2D9CDB;
    border-radius: 50%;
    margin-left: 8px;
}
.friend-action a:nth-child(2) {
    background-color: #f9f9f9;
}
/*hover-item end*/

/*user-acc start*/
.user-acc {
    margin-left: 15px;
}
.user-acc .online-availability {
    width: 13px;
    height: 13px;
    top: 1px;
    border-color: #1B1C24;
}
.user-acc .users-control h6 span {
    font-size: 12px;
    margin-top: 5px;
}
.hover-item-user {
    right: 0;
}
.hover-item-user:before {
    right: 25px;
}


.user-acc.has-hover-item .account-settings-list {
    padding: 18px 25px;
}

.user-acc.has-hover-item .account-settings-list a {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 0;
}

span.activity-light-2 {
    position: relative;
    margin-right: 30px;
}
span.activity-light-2::before {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ccc;
        background-color: rgb(204, 204, 204);
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
span.activity-light-2.online::before {
    background-color: #00CB39;
}
span.activity-light-2.away:before {
    background-color: #F2C94C;
}
span.activity-light-2.disconnected:before {
    background-color: #EB5757;
}
span.activity-light-2.c-invisible:before {
    background-color: #BDBDBD;
}

/*customer status start*/
.customer-status-form {
    position: relative;
    border-radius: 5px;
}
.customer-status-form input {
    width: 100%;
    display: block;
    border: 0;
    padding: 10px 15px;
    color: #000;
}
.customer-status-form ::placeholder {
    color: #000;
}
.customer-status-form .btn-warning {
    position: absolute;;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    border-radius: 0 5px 5px 0;
}
/*customer status end*/

 /*user-cart start*/
  .user-cart {
    margin-right: 10px;
  }

















































































/*header-top end*/






















/*header-bottom start*/
.header-bottom {
    background-color: #252F3E;
    padding: 7px 0;
}

.menu-sidebar-button {
    background: transparent;
    border: 0;
}

.main-menu > li {
    margin: 0 20px;
}

.main-menu > li a {
    display: block;
    color: #fff;
}

.main-menu > li.has-submenu {
    position: relative;
}

.main-menu > li.has-submenu > i.fa {
    position: absolute;
    color: #fff;
    right: 0;
    top: 1px;
}

.main-menu > li.has-submenu > a {
    padding-right: 20px;
}

.main-menu > li.has-submenu > .submenu {
    position: absolute;
    top: 90%;
    left: 0;
    min-width: 205px;
    background-color: #fff;
    color: #47494a;
    text-align: left;
    transition: all 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.main-menu > li.has-submenu:hover > .submenu {
    opacity: 1;
    visibility: visible;
    top: 137%;
}

.main-menu > li.has-submenu > .submenu > li {
    border-bottom: 1px solid #eee;
}

.main-menu > li.has-submenu > .submenu > li > a {
    color: #47494a;
    padding: 10px 15px;
    display: block;
}

/*more menu start*/
.main-menu > li.has-submenu.more-menu-item {
    margin-right: 0;
}
.main-menu > li.has-submenu.more-menu-item > .submenu {
    left: auto;
    right: 0;
}
.header-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

/*more menu end*/
/*header-bottom end*/
/*header-area end-----------*/

































/*hero-area start*/
.hero-bg-image-1 {
    background-image: url(../img/hero/hero-bg-1.jpg);
    background-position: bottom right;
}

.single-hero {
    height: 312px;
    margin: 0 15px;
    width: calc(100% - 30px);
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
main {
    margin-top: 123px;
}

.hero-tagline {
    font-weight: 400;
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px;
}

.hero-heading {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
}

.hero-text {
    font-size: 18px;
}

.box-btn {
    color: #fff;
    background-color: #1B1C24;
    padding: 7px 35px;
    font-size: 22px;
}
.box-btn:hover {
    background-color: #000;
    color: #ccc;
}
/*hero-area end*/
















































































































































































/*produc-wrap start*/
.single-product-item {
    box-shadow: 0px 20px 17px rgba(152, 152, 152, 0.07);
}
.single-product-item.mb-3 {
    margin-bottom: 20px !important;
}
.product-image-and-hover-wrap.mr-3 {
    margin-right: 1.5rem !important;
}
.product-image-and-hover-wrap {
    position: relative;
}

.product-image-and-hover-wrap > img {
    min-width: 108px;
    height: auto;
    border-radius: 5px;
}

.product-hover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.5);
    text-align: center;
    width: 23px;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.single-product-item:hover .product-hover {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.product-hover a {
    background: rgba(120, 120, 120, 0.6);
    backdrop-filter: blur(14px);
    /* Note: backdrop-filter has minimal browser support */
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    border-radius: 5px;
    color: #fff;

}

.product-hover a:hover {
    background-color: #ED1E25;
}
.product-hover a img {
    width: auto;
    display: inline-block;

}

.product-hover a:nth-child(2) {
    margin: 8px 0;
}

.product-rating {
    display: block;
    margin-bottom: 5px;
}

.product-rating i {
    display: inline-block;
    margin-right: 1px;
    color: #FFC700;
    font-size: 13px;
}

.product-rating .all-rating {
    display: inline-block !important;
    margin-left: 5px;
}

.product-rating .all-rating i {
    color: #bdbdbd;
    margin-right: 8px;
}


.product-description h2 {
    font-size: 26px;
    margin-bottom: 5px;
}

.product-description p {
    font-size: 12px;
}
/*produc-wrap end*/

/*recent-post start*/
.recent-post-links {
    margin-right: -8px;
    margin-bottom: -8px;
}
.single-recent-post-wrap {
    width: 33.3333%;
    float: left;
    padding: 0 8px 8px 0;
    border-radius: 5px;
    overflow: hidden;
}
.single-recent-post-wrap img {
   width: 100%;
   height: auto;
}
/*recent-post end*/

/*from-blog-wrap start*/
.from-blog-wrap .blog-thumb {
    width: 100%;
    height: 165px;
    border-radius: 5px;
    overflow: hidden;
}
.from-blog-wrap .blog-thumb-1 {
    background-image: url(../img/blog/blog-thumb-1.jpg);
}
.from-blog-wrap .blog-title {
    font-size: 16px;
    color: #1b1c24;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 22px;
}
.from-blog-wrap .blog-meta a {
    color: #828282;
    font-size: 12px;
}
.from-blog-wrap .blog-meta a i {
    margin-right: 3px;
}
/*from-blog-wrap end*/

/*flash-sell start*/
.single-product-big.card {
    border: 0;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.product-image-wrap-big {
    margin: -1.25rem;
    margin-bottom: 1.5rem;
}
.product-image-wrap-big img {
    width: 100% !important;
}

.product-description-big .price {
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
}

.product-description-big .price.text-danger {
    color: #eb5757 !important;
}

.product-description-big .product-rating i {
    font-size: 16px;
}

.product-action-big a {
    color: #fff;
    display: inline-block;
    background: rgba(120, 120, 120, 0.6);
    backdrop-filter: blur(14px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
    margin-left: 5px;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 24px;
}
.product-action-big a:hover {
    background-color: #ED1E25;
}
.product-description-big p {
    margin-bottom: 10px;
}
/*flash-sell end*/


































































































































































/*brand logo start*/
.single-brand-logo-wrap {
    width: 100%;
    height: 101px;
    background-color: #fff;
    border-radius: 0;
}
.single-brand-logo-wrap img {
    display: inline-block;
    margin: 0 auto;
}
/*brand logo end*/

/*newsletter start*/
.newsletter-area {
    background-color: #252F3E;
    color: #fff;
    padding: 80px 0;
    font-size: 18px;
}
.newsletter-area h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 23px;
}
.newsletter-area p {
    margin-bottom: 26px;
}
.newsletter-form {
    position: relative;
    overflow: hidden;
}
.newsletter-form input {
    width: 100%;
    display: block;
    padding: 15px 25px;
    border: 0;
    background-color: #fff;
    border-radius: 10px;
}
.newsletter-form input::placeholder {
    color: #636C7A;
    font-size: 18px;
}
.newsletter-form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 15px 35px;
    background-color: #EB5757 !important;
    border: 0;
    border-radius: 10px;
}
/*newsletter end*/

/*footer start*/
.footer-top {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 65px;
    font-size: 16px;
    line-height: 33px;
    color: #666989;
}
.footer-widget h5 {
    text-transform: uppercase;
}
.footer-widget a {
    color: #666989;
    line-height: 33px;
    display: block;
}
.social a {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    background-color: #252F3E;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 6px;
}

.social a.facebook {
    background-color: #3B5999;
}
.social a.twitter {
    background-color: #1C9DEC;
}
.social a.google-plus {
    background-color: #CB3E2D;
}
.social a.linkedin {
    background-color: #3C86AD;
}
.footer-bottom {
    background-color: #252F3E;
    color: #fff;
    padding: 18px 0;
    position: relative;
    z-index: 999999;
}
/*footer end*/








































































/*profile page start*/
/*profile-banner-wrap start*/
.profile-banner-area {
    margin: 0 15px 0 15px;
    overflow: hidden;
    background-color: #fff;
}
.profile-banner-area .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.profile-banner {
    height: 300px;
}
.profile-banner-1 {
    background-image: url(../img/profile/profile-banner-bg-1.jpg);
}
.seller-profile-banner-1 {
    background-image: url(../img/profile/seller-profile-banner-bg-1.jpg);
}

.profile-banner-content.card-body {
    padding-left: 5.5rem;
}

.profile-author-image {
    position: relative;
    margin-top: -140px;
    width: 145px;
    height: auto;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
    overflow: hidden;
}
.profile-author-name {
    margin-top: 10px;
    margin-bottom: 6px;
}
.profile-author-address {
    font-size: 16px;
    letter-spacing: .7px;
}
.pages-link {
    margin-left: 25px;
}
.pages-link a {
    color: #000;
    font-size: 18px;
    text-align: center;
    margin: 0 25px;
}
.pages-link a span {
    display: block;
    color: #ED1E25;
}
.pages-link a.more-menu-profile {
    width: 34px;
    height: 34px;
    line-height: 36px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 50%;
    color: #666989;
    font-size: 12px;
    margin-right: 0;
}
.profile-banner-content.card-body .btn.btn-danger {
    border-radius: 10px;
}
/*profile-banner end*/

























/*page-community start*/
.page-community-info-list a {
    color: #666989;
    margin-bottom: 12px;
}
.page-community-info-list li:last-child a {
    margin-bottom: 0;
}
.page-community-info-list a i {
    margin-right: 15px;
    font-size: 22px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 3px;
    color: #bdbdbd;
}
.page-community-info-list a span {
    margin-top: 3px;
}
/*page-community end*/

/*sellers-product start*/
.single-sellers-product {
    box-shadow: 0px 20px 17px rgba(152, 152, 152, 0.07)
}
/*sellers-product end*/

/*advertisement start*/
.advertisement img {
    width: 100%;
}
/*advertisement end*/






























/*live-auction-area-live start*/
.single-live-auction-live {
    position: relative;
}
.single-live-auction-live .card-body {
    padding: 1rem;
}
.live-auction-timer {
    padding: 10px 7px;
    border-radius: 5px;
}
.live-auction-timer h5 {
    display: inline-block;
    margin: 0 5px;
}
.live-auction-timer h5:first-child {
    margin-left: 0;
}
.live-auction-timer h5:last-child {
    margin-right: 0;
}
.live-auction-timer h5 span {
    display: block;
    font-size: 12px;
    color: #828282;
    line-height: 1;
    font-weight: 400;
}

.single-live-auction-live .product-action-big {
    width: 26px;
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0;
    visibility: visible;
    transition: all 0.3s ease-out;
}

.single-live-auction-live .product-action-big a {
    margin-left: 0;
    margin-bottom: 5px;
}

.single-live-auction-live:hover .product-action-big  {
    left: 20px;
    opacity: 1;
    visibility: visible;
}
/*live-auction-area-live end*/

































/*featured-product start*/
.products-carousel-in-card-wrap .card-header h3 {
    font-weight: 400;
    font-size: 28px;
}
.products-carousel-card {
    padding: 0 15px;
}
.single-product-in-card {
    background-color: #eaeaea;
}
.single-product-in-card .product-action-big a {
    margin-left: 0;
    margin: 0 5px;
}
.owl-item .product-action-big a img {
    width: auto !important;
    display: inline-block !important; 
}













.owl-nav div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -4px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #666989;
    color: #666989;
    transition: all 0.3s ease-out;
}

.owl-nav div.owl-next {
    left: auto;
    right: -4px;
}

.owl-nav div:hover {
    background-color: #ED1E25;
    border-color: #ED1E25;
    color: #fff;
}

.products-carousel-in-card .owl-nav div,
.products-carousel-card-4-item .owl-nav div {
    left: -15px;
    top: 36%;
    transform: translateY(0);
}
.products-carousel-in-card .owl-nav div.owl-next,
.products-carousel-card-4-item .owl-nav div.owl-next {
    left: auto;
    right: -15px;
}
/*featured-product end*/



/*profile page end*/



























































































































/*search pages start*/
/*search-menu-left side start*/
.search-option-menu-wrap h6 {
    font-weight: 700;
}
.search-option-menu-wrap a {
    color: #666989;
    padding: 4px 0;
}
a.show-more-menu {
    color: #2D9CDB;
    display: block;
}
.show-more-menu i {
    margin-right: 5px;
}
.avg-review-wrap .all-rating a {
    padding: 0 0;
}
.custom-radio .custom-control-label::before {
  border-radius: 50%;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #F2994A;
}
.custom-control-label::after {
    width: 100%;
    height: 100%;
}
/*search-menu-left side end*/
/*search result start*/
.nice-select.sort-by {
    border: 0;
    padding-left: 10px;
    height: auto;
    line-height: 1.7;
    color: #000;

}
.nice-select.sort-by:after {
    border-color: #000;
}
.single-search-result.card {
    border-radius: 5px !important;
}
.single-search-result .product-description-big > p {
    font-size: 16px;
}
/*search result end*/






/*sponsored-area start*/
.single-sponsored-item .product-image-wrap-big {
    min-width: 290px;
}
.single-sponsored-item h5.text-dark {
    line-height: 28px;
    margin-bottom: 0;
}
.short-description-list li {
    width: 18%;
    float: left;
}
.short-description-list h6 {
    font-weight: 700;
}
.short-description-list li span {
    font-weight: 400;
    color: #666989;
    font-size: 14px;
    margin-bottom: 17px;
}
.short-description-list li.price-wrap {
    color: #666989;
    width: 28%;
}
.price-wrap h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 3px;
}
.price-wrap h3 del {
    font-size: 20px;
}
.short-description-list li.ram {
    width: 13%;
}
/*sponsored-area end*/

/*search pages end*/


























































/*cart page start*/
.single-bought-product.card {
    border-radius: 5px;
}
.cart-wrap header span.text-light {
    font-weight: 400;
}







.cart-addon-service {
  position: relative;
  padding-left: 25px !important;
}
.cart-addon-service:after {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  width: 8px;
  height: 100%;
  border-radius: 30px;
  background-color: #F08B0A;
}

.addon-service-link {
    font-size: 18px;
    font-weight: 700;
    color: #1B1C24;
}

.addon-service-link span {
    font-size: 14px;
    font-weight: 400;
    color: #666989;
}

.cart-view-link {
    color: #1B1C24;
    text-decoration: underline;
}



.cart-price {
    font-size: 24px;
    margin-bottom: 8px;
}

.cart-item-quentity-select .nice-select {
    border-color: #666989;
    color: #252F3E;
}
.cart-item-quentity-select .nice-select::after {
    border-color: #666989;
}

.cart-status {
    font-weight: 400;
    margin-bottom: 0;
}

.cart-note {
    font-weight: 400;
    font-size: 16px;
    color: #ED1E25 !important;
}




.cart-total h4 {
    font-weight: 400;
    font-size: 22px;
}
.cart-total h5 {
    font-size: 14px;
    font-size: 20px;
}

























/*cart page end*/






































































































































/*product-details page start*/
.product-thumb {
    border-radius: 5px;
}
.product-sync-nav {
    width: 95px;
    margin-right: 30px;
    float: left;
}
.product-sync-nav .product-thumb {
    margin-bottom: 15px;
}
.product-details-image-big {
    width: calc(100% - 125px);
    float: left;
}
.product-details-image-big .product-thumb img {
    width: 530px !important;
}
.product-details-content .show-more-menu.big {
    font-size: 18px;
}

.product-details-content .product-rating i {
    font-size: 18px;
}
.product-details-content .all-rating.text-light {
    font-size: 18px;
}
.price-text {
    font-size: 18px;
}
.price-text strong {
    font-size: 20px;
}

.product-details-description-list {
    color: #252F3E;
}

.product-details-description-list li {
    margin-bottom: 15px;
}

.product-details-description-list li:last-child {
    margin-bottom: 0;
}

.product-details-description-list li strong {
    min-width: 250px;
    display: inline-block;
}


.nav.nav-pills {
    border-bottom: 1px solid #bdbdbd;
}
.nav-pills .nav-link {
    border-radius: 0;
    color: #666989;
    border-bottom: 2px solid transparent;
    margin-bottom: -1px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #252F3E;
    background-color: transparent;
    border-color: #ED1E25;
    border-radius: 0;
}


























/*compare section start*/
.single-compare-product {
    min-width: 255px;

}
.compare-product-title {
    font-size: 14px;
}
.product-compare-table-wrap tbody {
    color: #000;
}
/*compare section end*/



/*product-details-description start*/

.product-details-description .card-header h4 {
    font-weight: 400;
}
.product-details-description .card-body p {
    font-size: 16px;
    line-height: 26px;
}
/*product-details-description end*/



/*customer-qa start*/
.customer-qa-form {
    position: relative;
    max-width: 360px;
    background: #fff;
    border: 1px solid #666989;
    border-radius: 5px;
}

.customer-qa-form input {
    width: 100%;
    display: block;
    background-color: transparent;
    border: 0;
    padding: 10px 15px;
    padding-left: 45px;
    color: #666989;
}

.customer-qa-form input::placeholder {
    color: #666989;
}

.customer-qa-form button {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    line-height: 43px;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}
.customer-qa-form button img {
    margin-top: -3px;
}
/*search-form end*/
.customer-qa-area {
    font-size: 18px;
    padding-right: 150px;
}
.vote {
    position: relative;
    margin-top: -10px;
}
.qa-type-heading {
    min-width: 150px;
}
.qa-type-heading h4 {
    font-size: 24px;
    font-weight: 400;
}
/*customer-qa end*/














/*customer-reviews-area start*/
.review-progress-headline {
    font-weight: 400;
}
.reviews-progress-wrap h5.text-light {
    font-weight: 400;
}













/*review-progress-bar start*/
.rating-scale-stars {
    width: 70px;
    font-size: 16px;
    margin-top: 2px;
}
.progress {
    width: calc(100% - 120px);
    height: 30px;
    border-radius: 0;
    background-color: #ebebeb;
}
.progress-bar {
    background-color: #F08B0A;
}
.rating-percentage {
    width: 50px;
    text-align: right;
    font-size: 16px;
    margin-top: 2px;
}
/*review-progress-bar end*/
/*customer-reviews-area end*/







































































/*.feature-rating start*/
.single-feature-rating p.text-dart {
    font-size: 18px;
}
/*.feature-rating end*/










/*top-review-area start*/
.reviw-author-speech {
    font-size: 16px;
    line-height: 28px;
}
.review-helpfull-or-report-btn-wrap {
    font-size: 16px;
}
/*top-review-area end*/
/*product-details page end*/








/*login page start*/
.login-page-wrap {
    background-image: url(../img/login/login-page-bg.jpg);
    height: 100vh;
}
.card.login-registration-area {
    border-radius: 10px;
    overflow: hidden;
}
.signup-with-social-wrap {
    min-width: 380px;
    padding-top: 80px;
    padding-bottom: 60px;
}
.signup-with-social-wrap p {
    font-size: 18px;
}
.login-with-social-buttons .btn {
    height: 50px;
    line-height: 50px;
    width: 100%;
    padding: 0 0;
    border: 0;
    font-size: 15px;
    font-weight: 400;
    border-radius: 10px;
}
.login-with-social-buttons .btn.btn-facebook {
    background-color: #3B579D;
}
.login-with-social-buttons .btn.btn-twitter {
    background-color: #1C9DEC;
}
.login-with-social-buttons .btn.btn-google-plus {
    background-color: #CB3E2D;
}
.login-wrap {
    font-size: 16px;
    display: block;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
}
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    display: block;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: #666989;
    padding: 10px 15px;
}
.login-form .form-check-input {
    margin-top: .4rem;
}
.login-form .btn {
    height: 60px;
    line-height: 60px;
    padding: 0 0;
    text-align: center;
    border: 0;
    border-radius: 10px;
}
/*login page end*/