/*responsive css start*/
@media (max-width: 1200px) {
        
}

@media (max-width: 992px) {

}

@media all and (max-width: 768px) {

}

@media (max-width: 767px) {

}
/*# sourceMappingURL=responsive.css.map */
/*responsive css end*/
