/*
  Theme Name: 
  Author: 
  Support: 
  Description: 
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. default css
2. header
3. hero
*/

/* 1. default css start */

/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');*/

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: #e5e5e5;
    color: #828282;
    line-height: 1.7;
    overflow-x: hidden;
    position: relative;
}

a,
button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: inline-block;
}

button {
    cursor: pointer
}

a:focus,
button:focus {
    text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #000;
    margin-top: 0px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p:last-child {
    margin-bottom: 0;
}


/*bootstrap overwrite start*/
.text-light {
    color: #666989 !important;
}




.text-dark {
    color: #071c35 !important;
}
.text-danger {
    color: #EB5757 !important;
}
.btn {
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: 0 !important;
    padding: .6rem 2.5rem !important;
}
.btn-danger {
    background-color: #EB5757;
}

.btn-app {
    width: 180px;
    height: 64px;
    padding: 0 0 !important;
    line-height: 64px;
    text-align: center;
    box-shadow: 0px 25px 44px rgba(21, 18, 18, 0.2);
}
.btn-app img {
    display: inline-block;
}

.card-body.no-padding {
    padding: 0 0 !important;
}
/*bootstrap overwrite end*/








ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

.list-inline > li {
    display: inline-block;
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}

img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

.owl-item img {
    width: auto !important;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: -40px;
}
.slick-dots li {
    margin-left: 5px;
}
.slick-dots li button {
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #c4c4c4;
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: #EB5757;
}

.slick-vertical .slick-slide {
    border: 0;
}






/*background image*/
.bg-image-center {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-gray {
    background-color: #f4f4f4;
}
.bg-dark {
    background-color: #252f3e !important;
}
/*background image*/




*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

/* scrollUp start*/
#scrollUp {
    background: #EB5757;
    height: 35px;
    width: 35px;
    right: 50px;
    bottom: 77px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 34px;
}

#scrollUp:hover {
    background: #444;
}

#scrollUp i {
    margin-top: 11px;
}





.area-title h1 {
    font-size: 44px;
}
/* scrollUp end*/


/* 1. default css end */








/* 2. header css start*/
.header-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    padding: 25px 0;
}
.header-area a {
    color: #fff;
}
.main-menu li {
    margin: 0 15px;
}
.main-menu a {
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 15px;
}
/* header css end*/





/* 3. hero css start*/
.hero-area {
    background-image: url(../img/hero/hero-bg.png);
    background-size: 190% 100%;
    height: 788px;
    width: 100%;
    position: relative;
}
.hero-area h2 {
    font-size: 60px;
}
.hero-image {
    width: 55%;
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
/* hero css end*/

/*what-we-do-area start*/
.single-what-we-box {
    border: 1px solid #eee;
    height: 441px;
}
.wwd-icon {
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 0 auto 30px;
    background-color: #333;
}
/*what-we-do-area end*/














